/* general */

/* Montserrat google font */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", serif;
}

/* variables */

:root {
    --navbar-primary: #071e3d;
    --navbar-secondary: #be9d40;
    --navbar-text: #c0c0c0;
}

/* scrollbar */

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: var(--navbar-primary);
    /* background-color: #071e3d; */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--navbar-secondary);
    outline: 0.5rem solid var(--navbar-secondary);
    box-shadow: inset 0 0 3px var(--navbar-primary);
    /* background-color: #be9d40;
    outline: 0.5rem solid #be9d40;
    box-shadow: inset 0 0 3px #071e3d; */
    border-radius: 15px;
}

/* navbar */

.navbar {
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    background-color: var(--navbar-primary);
    transition: width 0.5s ease, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.navbar-list {
    padding: 20px 0px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.list-item {
    width: 100%;
    transition: filter 0.5s ease-in-out;
    background-color: var(--navbar-primary);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.list-item:last-child {
    margin-top: auto;
}

.item-link {
    transition: width 0.5s ease, color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: var(--navbar-text);
    fill: var(--navbar-secondary);
}

.list-item:hover {
    filter: brightness(130%);
}

@media (min-width:600px) {
    .navbar {
        height: 100vh;
        width: 5rem;
        animation: navbar-load 0.5s ease-in;
    }
    @keyframes navbar-load {
        0% {
            left: -5rem;
        }
        100% {
            left: 0;
        }
    }
    .navbar-list {
        padding: 20px 0px;
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .list-item:hover .link-text {
        margin-left: 5px;
    }
    .item-link {
        align-items: center;
    }
    .link-text {
        display: block;
        white-space: nowrap;
        transition: margin 0.5s ease-in-out;
    }
    .navbar:hover {
        width: 12rem;
    }
    .item-link svg {
        min-width: 2rem;
        margin: 0 1.5rem;
    }
    .app-main {
        margin-left: 5rem;
        margin-top: 0;
    }
}

@media (max-width:600px) {
    .navbar {
        height: 5rem;
        width: 100vw;
        animation: navbar-load 0.5s ease-in;
    }
    @keyframes navbar-load {
        0% {
            top: -5rem;
        }
        100% {
            top: 0;
        }
    }
    .navbar-list {
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    .item-link {
        justify-content: center;
    }
    .link-text {
        display: none;
    }
    .item-link svg {
        min-width: 1.5rem;
        margin: 0 0.5rem;
    }
    .app-main {
        margin-left: 0;
        margin-top: 5rem;
    }
}

/* app main section */

.app-main {
    animation: app-main-load 0.5s ease-in;
}

@keyframes app-main-load {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* introduction */

.introduction {
    height: 100vh;
    background-image: url('./img/introduction-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction h1 {
    width: 40%;
    text-align: center;
    border-bottom: 2px solid #333232;
}

.introduction h1, .introduction h2 {
    color: #333232;
    text-shadow: 2px 2px 0 #7A7A7A;
}

/* description */

.description {
    background-image: url('./img/description-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: scroll;
    background-position: top left;
    color: #c9c9c9;
    height: 100vh;
    text-align: justify;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.description-text {
    margin-left: 2rem;
    width: 55%;
}

.description p {
    font-size: 0.8rem;
}

.description h3 {
    margin-top: 0.5rem;
}

.description ul {
    list-style-type: circle;
    margin-left: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.businessman-img {
    transform: scaleX(-1);
    position: absolute;
    right: 10%;
    bottom: 2px;
    max-height: 50vh;
    opacity: 0.9;
}

/* projects */

.projects {
    background-image: url('./img/projects-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom right;
    color: #c9c9c9;
    height: 100vh;
    padding: 20px;
}

.project {
    padding: 10px;
    background-color: #00000023;
    border-radius: 10px;
}

.projects h2, .project h3 {
    color: #dadada;
}

.projects h2, .projects .project, .project p {
    margin-bottom: 10px;
}

.page-button-link, .github-button-link {
    outline: none;
    padding: 2px 5px;
    border-radius: 3px;
    border: none;
    color: #303030;
    font: inherit;
    transition: filter 0.3s ease-in-out;
}

.page-button-link {
    background-color: #6c7acc;
}

.github-button-link {
    background-color: #5f79ce;
}

.page-button-link:hover, .github-button-link:hover {
    cursor: pointer;
}

.page-button-link:hover, .github-button-link:hover {
    filter: brightness(110%);
}

/* --------------------------- */

.project-display {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: #000000e6;
}

.project-display>* {
    outline: none;
}

.image-display {
    margin-bottom: 10px;
    max-width: 60%;
    transform: scale(1);
    animation: image-show 0.5s;
}

@keyframes image-show {
    0% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(1);
    }
}

.close-display {
    font-size: 2rem !important;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #c9c9c9;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
    animation: close-show 0.5s;
}

@keyframes close-show {
    0% {
        right: -55px;
    }
    100% {
        right: 35px;
    }
}

.close-display:hover {
    filter: brightness(120%);
}

.caption-display {
    transform: scale(1);
    animation: caption-show 0.5s;
}

@keyframes caption-show {
    0% {
        transform: scale(0.4);
    }
    100% {
        transform: scale(1);
    }
}

/* --------------------------- */

/* contact */

.contact {
    height: 100vh;
    background-image: url('./img/contact-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #c9c9c9;
    font-size: 1.5rem;
}

.contact-icon-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-icon-grid svg {
    width: 4rem;
    transition: filter 0.3s ease-in-out;
    margin: 10px;
}

.contact-icon-grid svg:hover {
    filter: brightness(120%);
    cursor: pointer;
}

.mail-icon {
    fill: #D44638;
}

.facebook-icon {
    fill: #335db8;
}

.linkedin-icon {
    fill: #0e76a8;
}

.github-icon {
    fill: #6cc644;
}

@media (max-width:600px) {
    .introduction {
        height: calc(100vh);
        font-size: 1rem;
    }
    .description, .projects, .contact {
        height: calc(100vh - 5rem);
    }
    .description {
        padding-top: 5rem;
        margin-top: -5rem;
        font-size: 1rem;
    }
    .description-text {
        margin-top: -3rem;
        width: 70%;
    }
    .businessman-img {
        max-height: 30vh;
    }
    .projects h2 {
        margin-top: 20px;
    }
    .project {
        font-size: 75%;
    }
    .image-display {
        max-width: 80%;
    }
    .contact {
        font-size: 1rem;
    }
    .contact-icon-grid svg {
        width: 3rem;
    }
}

@media (min-width:600px) {
    .introduction {
        height: 100vh;
        font-size: 1.5rem;
    }
    .description {
        padding-top: 0;
        margin-top: 0;
        font-size: 1.3rem;
    }
    .about-me {
        background: -moz-linear-gradient(left, #ffffff00 0%, #00000026 100%);
        background: -webkit-linear-gradient(left, #ffffff00 0%, #00000026 100%);
        background: linear-gradient(to right, #ffffff00 0%, #00000026 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00000026', GradientType=1);
        padding: 10px 20px 10px 0px;
        border-radius: 10px;
    }
    .description-text {
        margin-top: 2rem;
    }
}

/* button to top href */

.to-top-button {
    background-color: var(--navbar-secondary);
    position: fixed;
    bottom: -50px;
    right: 30px;
    transition: bottom 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

.to-top-button svg {
    margin: -10px;
    fill: var(--navbar-primary);
    width: 3rem;
    height: 3rem;
    transition: filter 0.3s ease-in-out, fill 0.5s ease-in-out;
}

.to-top-button svg:hover {
    filter: brightness(120%);
}